@media screen and (max-width: 400px){
  #top1{
  width:100%;
  background-color:#1d1d1d;
  display:block;
  padding-top:10px;
  padding-bottom:10px;
  }
  #top1 .cell_top{
    width:44%;
  }
  #top1 .cell_top a{
    text-decoration:none;
    color: #fff;
    font-size:15px;
    font-weight:300;
    text-align:left;
  }
  #top1 .cell_top a::before{
    content: '\f095';
    font-family: FontAwesome;
    font-size:14px;
    color:#fff;
    margin-right:14px;
  }
  #top1 .email_top{
    width:49%;
  }
  #top1 .email_top a{
    text-decoration:none;
    color: #fff;
    font-size:15px;
    font-weight:300;
    text-align:left;
    margin-left:35px;
  }
  #top1 .email_top a::before{
    content: '\f0e0';
    font-family: FontAwesome;
    font-size:14px;
    color:#fff;
    margin-right:14px;
  }
 #top1 .cell_top a:hover, #top1 .cell_top a:hover::before{
   color:#29b6f6;
  }
  #top1 .email_top a:hover, #top1 .email_top a:hover::before{
    color:#29b6f6;
   }

		#nav .navbar-right
	{
		display:none;
	}
	#top .top_menu{
	display:none;
	}
	#nav .navbar-brand {
		font-size:25px;
		font-weight:600;
		margin-left:0px;
	}
  #nav .navbar-header{
    padding-top:22px;
  }
	.carousel-caption h2, .carousel-caption h3{
		font-size: 2em;
	    font-weight: 300;
	    letter-spacing: 1px;
	    margin-top: 80px;
	}
	.carousel-caption p{
		letter-spacing: 2px;
	    font-size: 1.1em;
	    font-weight: 300;
	    color: #fff;
	    margin: 1em 0 2em 0;
	}
	#about h2 {
	    font-size: 24px;
	    font-weight: 600;
	    color: #000;
	    text-align: center;
	}
	#about p {
	    font-size: 18px;
	    font-weight: 500;
	    color: #1d1d1d;
	    text-align: center;
	    margin-bottom: 10px;
	}
	#about .abt_txt p{
	text-align:center;
}
  #about .abt_subtxt p{
      text-align:center;
      font-weight:400;
      color:#000;
      }
	.outer_box{
		margin-left:25%;
		width:48.4%;
	}
	div.bhoechie-tab-menu div.list-group>a.active:after{
		display: none;
	}
	div.bhoechie-tab-container{
		margin-left:0px;
	}
	div.bhoechie-tab-content{
		padding:16px 0px;
	}
	#intrest .btn{
  border-radius:0;
  margin-left:21%;
  margin-top:2%;
  padding:10px 30px;
  background-color: #29b6f6;
  color: #fff;
   -ms-transition: all 0.8s;
   -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
}



@media screen and (max-width: 320px){
   #top1{
   width:100%;
   background-color:#1d1d1d;
   display:block;
   padding-top:10px;
   padding-bottom:10px;
   }
   #top1 .cell_top{
     width:40%;
   }
   #top1 .cell_top a{
     text-decoration:none;
     color: #fff;
     font-size:14px;
     font-weight:300;
     text-align:left;
   }
   #top1 .cell_top a::before{
     content: '\f095';
     font-family: FontAwesome;
     font-size:14px;
     color:#fff;
     margin-right:10px;
   }
   #top1 .email_top{
     width:40%;
   }
   #top1 .email_top a{
     text-decoration:none;
     color: #fff;
     font-size:14px;
     font-weight:300;
     text-align:left;
    
   }
   #top1 .email_top a::before{
     content: '\f0e0';
     font-family: FontAwesome;
     font-size:14px;
     color:#fff;
     margin-right:10px;
   }
  #top1 .cell_top a:hover, #top1 .cell_top a:hover::before{
    color:#29b6f6;
   }
   #top1 .email_top a:hover, #top1 .email_top a:hover::before{
     color:#29b6f6;
    }
    #nav .navbar-header{
      padding-top:12px;
    }

	#nav .navbar-right
{
	display:none;
}
#top .top_menu{
display:none;
}
#nav .navbar-brand {
	font-size:21px;
	font-weight:600;
	margin-left:0px;
}
.carousel-caption h2, .carousel-caption h3{
	font-size: 2em;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 80px;
}
.carousel-caption p{
	letter-spacing: 2px;
    font-size: 1.1em;
    font-weight: 300;
    color: #fff;
    margin: 1em 0 2em 0;
}
#about h2 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
#about p {
    font-size: 18px;
    font-weight: 500;
    color: #1d1d1d;
    text-align: center;
    margin-bottom: 10px;
}
.outer_box{
	margin-left:55px;
	width:62.8%;
}
#about .abt_txt p{
	text-align:center;
}
#about .abt_subtxt p{
    text-align:center;
    font-weight:400;
      color:#000;
    }
#services h2 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
	display: none;
}
div.bhoechie-tab-container{
	margin-left:0px;
}
div.bhoechie-tab-content{
	padding:16px 0px;
}
.demo h2{
	 font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.testimonial{
    margin: 30px 0;
}
#intrest h2{
  font-size:24px;
  font-weight:600;
  color:#1d1d1d;
  text-align:center;
}
#intrest .or{
  font-size:24px;
  font-weight:600;
  color:#1d1d1d;
  text-align:center;
  position:relative;
}
#intrest .btn{
  border-radius:0;
  margin-left:13%;
  margin-top:2%;
  padding:10px 30px;
  background-color: #29b6f6;
  color: #fff;
   -ms-transition: all 0.8s;
   -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
  footer h2{
   	font-size:24px;
   	font-weight:600;
   	color:#fff;
   	text-align:center;
   }
    footer p{
   	font-size:16px;
   	font-weight:400;
   	color:#fff;
   	text-align:center;
   }
   footer h3{
   	font-size:22px;
   	font-weight:500;
   	color:#fff;
   	text-align:center;
   }
    #copyright p{
   	font-size:14px;
   	font-weight:400;
   	color:#fff;
   	text-align:center;
   	margin-top:10px;
   }
}